<ul>
  <% @items.each do |item| %>
    <li><%= item.title %> | <%= item.user ? item.user.email : '-'  %> | <%= link_to 'Ver Detalles', item %> | <%= link_to 'Editar', edit_item_path(item.id) %> </li>
  <% end %>
</ul>

<%= link_to 'Nuevo', new_item_path%>
